*{
    padding: 0;
    margin: 0;
}
.slide-container {
    overflow: hidden;
    height: 400px;
}

.slide-container .slide-box div{
    float: left;
    width: 20%;
}
.slide-container .slide-box img {
    width: 100%;
    float: left;
}
.slide-container .slide-box {
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 3s slide infinite;
}

@keyframes slide {
    0% {
        left: 0%
    }
    12% {
        left: 0%
    }
    22% {
        left: -100%
    }
    24% {
        left: -100%
    }
    34% {
        left: -200%
    }
    36% {
        left: -200%
    }
    46% {
        left: -300%
    }
    48% {
        left: -300%
    }
    58% {
        left: -400%
    }
    60% {
        left: -400%
    }
    60% {
        left: -300%
    }
    70% {
        left: -300%
    }
    40% {
        left: -200%
    }
    50% {
        left: -200%
    }
    20% {
        left: -100%
    }
    30% {
        left: -100%
    }
    0% {
        left: 0%
    }
    10% {
        left: 0%
    }
}